@import "tailwindcss";

/* SF Pro Apple fonts */

@font-face {
  font-family: "SF Pro";
  src: url("./assets/fonts/SF\ Pro/SF-Pro-Display-Regular.otf")
    format("embedded-opentype");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("./assets/fonts/SF\ Pro/SF-Pro-Display-Semibold.otf")
    format("embedded-opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("./assets/fonts/SF\ Pro/SF-Pro-Display-Medium.otf")
    format("embedded-opentype");
  font-weight: 500;
  font-style: normal;
}

:root {
  font-family: "SF Pro";
}

@theme {
  --animate-image-load: image-load 0.5s ease-in-out;
  --animate-label-appear: label-appear 0.3s ease-in-out forwards;
  --animate-first-dot: first-dot 0.7s ease-in-out infinite;
  --animate-second-dot: first-dot 0.7s ease-in-out 0.8s infinite;
  --animate-third-dot: first-dot 0.7s ease-in-out 1s infinite;
  --animate-letter-appear: letter-appear 0.5s ease-in-out forwards;
  --animate-toast-error-appear: toast-error-appear 1s ease-in-out forwards;
  --animate-toast-error-disappear: toast-error-disappear 1s ease-in-out 4s
    forwards;

  @keyframes toast-error-appear {
    0% {
      transform: translateX(200%);
    }
    100% {
      transform: translateX(35%);
    }
  }

  @keyframes toast-error-disappear {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes letter-appear {
    0% {
      transform: translateY(-32px);
    }
    100% {
      transform: translateY(0px);
      position: relative;
      bottom: 0px;
    }
  }

  @keyframes first-dot {
    0% {
      transform: translateY(0px);
      opacity: 1;
    }
    33% {
      transform: translateY(-8px);
      opacity: 0.75;
    }
    66% {
      transform: translateY(0px);
      opacity: 1;
    }
    100% {
      transform: translateY(0px);
      opacity: 0.75;
    }
  }

  @keyframes label-appear {
    0% {
      transform: scale(0);
      position: relative;
      opacity: 0;
      bottom: 4px;
    }
    100% {
      transform: scale(1);
      position: relative;
      bottom: 0px;
    }
  }

  @keyframes image-load {
    0% {
      transform: scale(0);
    }
    80% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
}
